<div class="container">
  <div class="content">
    <div>
      <div class="note note-1" data-note="1" data-instrument="1"></div>
      <div class="note note-2" data-note="2" data-instrument="1"></div>
    </div>
    <div>
      <div class="note note-3" data-note="3" data-instrument="1"></div>
      <div class="note note-4" data-note="4" data-instrument="1"></div>
    </div>
    <div>
      <div class="note note-5" data-note="5" data-instrument="1"></div>
      <div class="note note-6" data-note="6" data-instrument="1"></div>
    </div>
  </div>
</div>