// Base Colors

$color-1: #FF0066;  // Pink
$color-2: #a82bf1; // Purple
$color-3: #c5fd2d; // Green
$color-4: #26ddfe; // Blue

// Mixins

@mixin transition($property,$duration,$delay) {
  transition: $property $duration ease $delay;
  -moz-transition: $property $duration ease $delay;
  -webkit-transition: $property $duration ease $delay;
  -o-transition: $property $duration ease $delay;
  -ms-transition: $property $duration ease $delay;
}

// Layout

* {
  outline: none;
}

#full-bg {
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

body {
  // background: transparent image-url('carbon.jpg') no-repeat;
  // // background-attachment: fixed;
  // background-size: cover;
  // -moz-background-size: cover;
  // -webkit-background-size: cover;
  // -ms-background-size: cover;
  // -o-background-size: cover;
  background: black;
}

#surface {
  width: 100%;
  height: 81%;
}

.logo {
  padding: 15px 30px;
  max-width: 750px;
  max-height: 20%;
}

img {
  max-width: 100%;
}

html, body, .page-wrap {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

.page-wrap {
    background: transparent image-url('colorbar.jpg') repeat-x center top;
    float: left;
    background-size: 100% 5px;
    overflow: hidden;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.row {
  height: 40%;
}

.row:last-child {
  height:34%;
}

.row * {
  height: 100%;
}

.note {
  width: 100%;
  border: none;
  color: #fff;
}

.col {
  padding: 10px;
  width: 33.3%;
}

@-webkit-keyframes spin-decay {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-decay {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(4);
    transform: scale(4);
    -ms-transform: scale(4);
    -o-transform: scale(4);
    -moz-transform: scale(4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@-moz-keyframes spin-decay {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin-decay {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin-decay {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

// Visualizers

.visualize {
  width: 30px;
  height: 30px;
  // border-radius: 120px;
  border-radius: 3px;
  opacity: 0.85;
  -webkit-animation: spin-decay 5s infinite linear;
  -moz-animation: spin-decay 5s infinite linear;
  -o-animation: spin-decay 5s infinite linear;
  animation: spin-decay 5s infinite linear;
  &.visualize-loaded {
    
  }
}

// Instruments

.note {
  @include transition(all,0.1s,0s);
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.75);
  position: relative;
  overflow: hidden;
  &:after {
    display: block;
    opacity: 0;
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.1);
    border-radius: 120px;
    content: " ";
    left: 50%;
    top: 50%;
    @include transition(all,0.35s,0s);
    margin: -40px 0 0 -40px;
    box-shadow: 0 0 30px rgba(255,255,255,0.1), inset 0 0 25px rgba(255,255,255,0.05), inset 0 0 10px rgba(255,255,255,0.05);
  }
  &:active {
    @include transition(all,0.1s,0s);
    transform: scale(0.975);
    -webkit-transform: scale(0.975);
    -moz-transform: scale(0.975);
    -ms-transform: scale(0.975);
    -o-transform: scale(0.975);
    &:after {
      @include transition(all,0.1s,0s);
      box-shadow: 0 0 30px rgba(255,255,255,0.6), inset 0 0 30px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.05);
      opacity: 1;
      -webkit-transform: scale(2.25);
    }
  }
  &.note-5:active {
    &:after {
      opacity: 0.7;
    }
  }
}

// Instrument 0
.instrument-0 {
  &.note {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.3), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
    &:active {
      box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2);
    }
  }
  &.note-0 {
    background: $color-1;
  }
  &.note-1 {
    background: $color-1;
  }
  &.note-2 {
    background: $color-1;
  }
  &.note-3 {
    background: $color-1;
  }
  &.note-4 {
    background: $color-1;
  }
  &.note-5 {
    background: $color-1;
  }
}

// Instrument 1
.instrument-1 {
  &.note {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.3), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
    &:active {
      box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2);
    }
  }
  &.note-0 {
    background: $color-2;
  }
  &.note-1 {
    background: $color-2;
  }
  &.note-2 {
    background: $color-2;
  }
  &.note-3 {
    background: $color-2;
  }
  &.note-4 {
    background: $color-2;
  }
  &.note-5 {
    background: $color-2;
  }
}

// Instrument 2
.instrument-2 {
  &.note {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.3), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
    &:active {
      box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2);
    }
  }
  &.note-0 {
    background: $color-3;
  }
  &.note-1 {
    background: $color-3;
  }
  &.note-2 {
    background: $color-3;
  }
  &.note-3 {
    background: $color-3;
  }
  &.note-4 {
    background: $color-3;
  }
  &.note-5 {
    background: $color-3;
  }
}

// Instrument 3
.instrument-3 {
  &.note {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.3), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
    &:active {
      box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2);
    }
  }
  &.note-0 {
    background: $color-4;
  }
  &.note-1 {
    background: $color-4;
  }
  &.note-2 {
    background: $color-4;
  }
  &.note-3 {
    background: $color-4;
  }
  &.note-4 {
    background: $color-4;
  }
  &.note-5 {
    background: $color-4;
  }
}

@media(max-width:680px) {

  .logo {
    max-width: 50%;
    max-height: none;
    padding: 10px 20px;
    width: auto !important;
  }

  .row {
    height: 25%;
  }

  .col {
    width: 50%;
  }

}

@media(max-width:480px) {

  .logo {
    max-width: 75%;
  }

  .col {
    padding: 5px;
  }

  .page-wrap {
    background-position: center -2px;
  }

  .note {
    &:hover {
      transform: scale(0.975);
      -webkit-transform: scale(0.975);
      -moz-transform: scale(0.975);
      -ms-transform: scale(0.975);
      -o-transform: scale(0.975);
      &:after {
        @include transition(all,0.1s,0s);
        box-shadow: 0 0 30px rgba(255,255,255,0.6), inset 0 0 30px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.05);
        opacity: 1;
        -webkit-transform: scale(1.75);
      }
    }
  }

  // Instrument 0
  .instrument-0 {
    &.note {
      box-shadow: inset 0 0 50px rgba(0,0,0,0.3), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
      &:hover {
        box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2);
      }
    }
  }

  // Instrument 1
  .instrument-1 {
    &.note {
      box-shadow: inset 0 0 50px rgba(0,0,0,0.3), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
      &:hover {
        box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2);
      }
    }
  }

  // Instrument 2
  .instrument-2 {
    &.note {
      box-shadow: inset 0 0 50px rgba(0,0,0,0.3), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
      &:hover {
        box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2);
      }
    }
  }

  // Instrument 3
  .instrument-3 {
    &.note {
      box-shadow: inset 0 0 50px rgba(0,0,0,0.3), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
      &:hover {
        box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2);
      }
    }
  }

}