// Base Colors

$color-1: saturate(#FF0066,1%);  // Pink
$color-2: saturate(#cf7efe,10%); // Purple
$color-3: saturate(#c6fe7e,10%); // Green
$color-4: saturate(#55c8fe,10%); // Blue

// Mixins

@mixin transition($property,$duration,$delay) {
  transition: $property $duration ease $delay;
  -moz-transition: $property $duration ease $delay;
  -webkit-transition: $property $duration ease $delay;
  -o-transition: $property $duration ease $delay;
  -ms-transition: $property $duration ease $delay;
}

// Layout

* {
  outline: none;
}

body {
  background: transparent url('noise.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}

.logo {
  padding: 30px;
  max-width: 550px;
  max-height: 20%;
}

img {
  max-width: 100%;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.row {
  height: 40%;
}

.row:last-child {
  height:34%;
}

.row * {
  height: 100%;
}

.note {
  width: 100%;
  border: none;
  color: #fff;
}

.col {
  padding: 10px;
  width: 33.3%;
}

// Instruments

.note {
  @include transition(all,0.2s,0s);
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.75);
  position: relative;
  overflow: hidden;
  &:after {
    display: block;
    opacity: 0;
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.1);
    border-radius: 120px;
    content: " ";
    left: 50%;
    top: 50%;
    @include transition(all,0.35s,0s);
    margin: -40px 0 0 -40px;
    box-shadow: 0 0 30px rgba(255,255,255,0.1), inset 0 0 25px rgba(255,255,255,0.05), inset 0 0 10px rgba(255,255,255,0.05);
  }
  &:active {
    @include transition(all,0.2s,0s);
    top: 3px;
    transform: scale(0.975);
    -webkit-transform: scale(0.975);
    &:after {
      @include transition(all,0.1s,0s);
      box-shadow: 0 0 30px rgba(255,255,255,0.6), inset 0 0 30px rgba(255,255,255,0.2), inset 0 0 20px rgba(255,255,255,0.05);
      opacity: 1;
      -webkit-transform: scale(2.25);
    }
  }
  &.note-5:active {
    &:after {
      opacity: 0.7;
    }
  }
}

// Instrument 0
.instrument-0 {
  &.note {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
    &:active {
      box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2), 0 0 20px darken($color-1,20%);
    }
  }
  &.note-0 {
    background: $color-1;
  }
  &.note-1 {
    background: darken($color-1,10%);
  }
  &.note-2 {
    background: darken($color-1,20%);
  }
  &.note-3 {
    background: darken($color-1,25%);
  }
  &.note-4 {
    background: darken($color-1,30%);
  }
  &.note-5 {
    background: darken($color-1,35%);
  }
}

// Instrument 1
.instrument-1 {
  &.note {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
    &:active {
      box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2), 0 0 20px darken($color-2,20%);
    }
  }
  &.note-0 {
    background: $color-2;
  }
  &.note-1 {
    background: darken($color-2,10%);
  }
  &.note-2 {
    background: darken($color-2,20%);
  }
  &.note-3 {
    background: darken($color-2,30%);
  }
  &.note-4 {
    background: darken($color-2,40%);
  }
  &.note-5 {
    background: darken($color-2,50%);
  }
}

// Instrument 2
.instrument-2 {
  &.note {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
    &:active {
      box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2), 0 0 20px darken($color-3,20%);
    }
  }
  &.note-0 {
    background: $color-3;
  }
  &.note-1 {
    background: darken($color-3,10%);
  }
  &.note-2 {
    background: darken($color-3,20%);
  }
  &.note-3 {
    background: darken($color-3,30%);
  }
  &.note-4 {
    background: darken($color-3,40%);
  }
  &.note-5 {
    background: darken($color-3,50%);
  }
}

// Instrument 3
.instrument-3 {
  &.note {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.1);
    &:active {
      box-shadow: inset 0 0 60px rgba(255,255,255,0.4), 0 3px 2px rgba(0,0,0,0.6), inset 2px 2px 1px rgba(255,255,255,0.2), 0 0 20px darken($color-4,20%);
    }
  }
  &.note-0 {
    background: $color-4;
  }
  &.note-1 {
    background: darken($color-4,10%);
  }
  &.note-2 {
    background: darken($color-4,20%);
  }
  &.note-3 {
    background: darken($color-4,30%);
  }
  &.note-4 {
    background: darken($color-4,40%);
  }
  &.note-5 {
    background: darken($color-4,50%);
  }
}

@media(max-width:680px) {

  .logo {
    max-width: 100%;
    max-height: none;
    padding: 10px 20px;
    width: auto !important;
  }

  .row {
    height: 28%;
  }

  .col {
    width: 50%;
  }

}

@media(max-width:480px) {

  .col {
    padding: 5px;
  }

}