* {
  outline: none;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.row {
  height:33%;
}

.row:last-child {
  height:34%;
}

.row * {
  height: 100%;
}

.note {
  width: 100%;
  border: none;
  color: #fff;
}

.col {
  padding: 0;
}

.instrument-0.note-0 {
    background-color: #000;
}

.instrument-0.note-1 {
    background-color: #333;
}

.instrument-0.note-2 {
    background-color: #666;
}

.instrument-0.note-3 {
    background-color: #999;
}

.instrument-0.note-4 {
    background-color: #CCC;
}

.instrument-0.note-5 {
    background-color: #FFF;
}

.instrument-1.note-0 {
    background-color: #000;
}

.instrument-1.note-1 {
    background-color: #003;
}

.instrument-1.note-2 {
    background-color: #006;
}

.instrument-1.note-3 {
    background-color: #009;
}

.instrument-1.note-4 {
    background-color: #00C;
}

.instrument-1.note-5 {
    background-color: #00F;
}


.instrument-2.note-0 {
    background-color: #000;
}

.instrument-2.note-1 {
    background-color: #030;
}

.instrument-2.note-2 {
    background-color: #060;
}

.instrument-2.note-3 {
    background-color: #090;
}

.instrument-2.note-4 {
    background-color: #0C0;
}

.instrument-2.note-5 {
    background-color: #0F0;
}

.instrument-3.note-0 {
    background-color: #000;
}

.instrument-3.note-1 {
    background-color: #300;
}

.instrument-3.note-2 {
    background-color: #600;
}

.instrument-3.note-3 {
    background-color: #900;
}

.instrument-3.note-4 {
    background-color: #C00;
}

.instrument-3.note-5 {
    background-color: #F00;
}