<!DOCTYPE html>
<html>
<head>
  <title>Jam Sesh</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "//js.pusher.com/2.1/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
